$primary-color: #2f3657;
$secondary-color: #cc5349;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

// Set text color
@function setTextColor($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media query mixins
@mixin mediaSmall {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMedium {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLarge {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
@mixin mediaExtraLarge {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
